.flashcard {
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 20%;
  left:30%;
  height:250px;
  width:450px;
  background-color:#ebebfa;
  color:#000000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align:center;
}
button {

font-family: "Roboto", sans-serif;
font-weight: 600;
font-style: normal;
text-align:center;


}
.ok-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 70%;
  left:10%;
  height:50px;
  width:250px;
  background-color:#45f542;
  color:#FFFFFF;
  text-align:center;
  font-weight: bold;
  font-family:Verdana;
}
.add-questions-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 80%;
  left:37%;
  height:50px;
  width:250px;
  background-color:#bfbc0b;
  color:#FFFFFF;
}


.upload-questions-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 2px;
  position: absolute;
  top:5%;
  left:42%;
  height:30px;
  width:150px;
  background-color:#bfbc0b;
  color:#FFFFFF;
  text-align:center;
  font-weight: bold;
  font-family:Verdana;
}

.add-questions-button:hover {
    background-color: #f2ef55; 
    border-color: #bfbc0b;
}
.submit-questions-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  position: absolute;
  left: 40%;
  height:35px;
  width:250px;
  background-color:#bfbc0b;
  color:#FFFFFF;
  text-align:center;
  font-weight: bold;
  font-family:Verdana;

}
.submit-questions-button:hover {
    background-color: #f2ef55; 
    border-color: #bfbc0b;
}

.start-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 70%;
  left:37%;
  height:50px;
  width:250px;
  background-color:#45f542;
  color:#FFFFFF;
}

.start-button:hover {
  background-color: #3ae031; 
  border-color: #2cbd2a; 
}

.revision-button{
border: 2px solid #ebebfa;
border-radius: 12px;
padding: 5px;
position: fixed;
top: 70%;
left:70%;
height:50px;
width:250px;
background-color:#ed7c72;
color:#FFFFFF;
text-align:center;
font-weight: bold;
font-family:Verdana;
}

.revision-button:hover {
    background-color: #ed1602; 
    border-color: #ed1604; 
}

.results-button{
border: 2px solid #ebebfa;
border-radius: 12px;
padding: 5px;
position: fixed;
top: 70%;
left:37%;
height:50px;
width:250px;
background-color:#bfbc0b;
color:#FFFFFF;
text-align:center;
font-weight: bold;
font-family:Verdana;
}

.results-button:hover {
    background-color: #f2ef55; 
    border-color: #bfbc0b;
}


.next-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 70%;
  left:37%;
  height:50px;
  width:250px;
  background-color:#45f542;
  color:#FFFFFF;
  text-align:center;
  font-weight: bold;
  font-family:Verdana;
}


.questions-answers table {
    margin-left: auto;
    margin-right:auto;
    border: 1px solid #dededf;
    width: 50%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}


.questions-answers th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
    text-align:center;
    font-family:Verdana;
}

.questions-answers td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    text-align:center;
    font-family:Verdana;
}

.submit-questions {
display: flex;
justify-content: center;
padding-top: 20px; /* Optional: Adds some padding from the top */
}

.submit-questions-table {
width: 50%;
border-collapse: collapse;
text-align: center;
}

.submit-questions-table td {
border: 1px solid #dededf;
padding: 10px;
}


.page-title {
position: fixed;
left:37%;
font-family: "Roboto", sans-serif;
font-weight: 700;
font-style: normal;
}


