body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margn */
  background: #FFFFFF;
  font-family: "Roboto", sans-serif;

}
.flashcard {
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  top: 20%;
  height:250px;
  width:450px;
  background-color:#ebebfa;
  font-weight: 500;
  font-style: normal;
  text-align:center;
}
.startflashcard {
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 20%;
  height:250px;
  width:450px;
  background-color:#ebebfa;
  font-weight: 500;
  font-style: normal;
  text-align:center;
}

button {

font-weight: 600;
font-style: normal;
text-align:center;


}
.ok-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 70%;
  left:10%;
  height:50px;
  width:250px;
  background-color:#45f542;
  text-align:center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.add-questions-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 80%;
  height:50px;
  width:250px;
  background-color:#bfbc0b;
}


.upload-questions-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  position: fixed;
  top: 7%;
  padding: 2px;
  height:30px;
  margin-top: 5px;
  width:150px;
  background-color:#bfbc0b;
  text-align:center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

#volume-icon{
  position: absolute;
  top:0%;
  left:1%;
  height:30px;
  width:30px;
}

#volume-icon:hover {
    cursor: grab;
}


#exit-icon{
  position: absolute;
  top:0%;
  left:98%;
  height:30px;
  width:30px;
}

#exit-icon:hover {
    cursor: grab;
}

#dark-light-icon{
  position: absolute;
  top:0%;
  left:95%;
  height:30px;
  width:30px;
}

#dark-light-icon:hover {
    cursor: grab;
}

.add-questions-button:hover {
    background-color: #f2ef55; 
    border-color: #bfbc0b;
}
.submit-questions-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  position: absolute;
  height:35px;
  width:250px;
  background-color:#bfbc0b;
  text-align:center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;

}
.submit-questions-button:hover {
    background-color: #f2ef55; 
    border-color: #bfbc0b;
}

.start-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 70%;
  height:50px;
  width:250px;
  background-color:#45f542;
}

.restart-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 80%;
  height:50px;
  width:250px;
  background-color:#FEA304;
}

.main-menu-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 80%;
  height:50px;
  width:250px;
  background-color:#45f542;
}

.main-menu-button:hover {
  background-color: #3ae031; 
  border-color: #2cbd2a; 
}
.start-button:hover {
  background-color: #3ae031; 
  border-color: #2cbd2a; 
}

.revision-button{
border: 2px solid #ebebfa;
border-radius: 12px;
padding: 5px;
position: fixed;
top: 70%;
left:70%;
height:50px;
width:250px;
background-color:#ed7c72;
text-align:center;
font-weight: bold;
}

.revision-button:hover {
    background-color: #ed1602; 
    border-color: #ed1604; 
}

.results-button{
border: 2px solid #ebebfa;
border-radius: 12px;
padding: 5px;
position: fixed;
top: 70%;
height:50px;
width:250px;
background-color:#bfbc0b;
text-align:center;
font-weight: bold;
}

.results-button:hover {
    background-color: #f2ef55; 
    border-color: #bfbc0b;
}


.next-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 70%;
  left:37%;
  height:50px;
  width:250px;
  background-color:#45f542;
  text-align:center;
  font-weight: bold;
}

.questions-answers {

    margin-top: 40px;;

}

.questions-answers table {
    border: 1px solid #dededf;
    width: 50%;
    border-spacing: 1px;
    text-align: left;
}


.questions-answers th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    padding: 5px;
    text-align:center;
}

.questions-answers td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    padding: 5px;
    text-align:center;
}

.submit-questions-table {
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}

.submit-questions-table td {
border: 1px solid #dededf;
padding: 10px;
}


.page-title {
position: absolute;
top: 5%;
font-family: "Roboto", sans-serif;
font-weight: 700;
font-style: normal;
}

.progress-bar{
padding: 5px;
position: fixed;
top: 85%;
text-align:center;
font-weight: bold;
}

label {
    vertical-align: top;
}


.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}
