p.flashcard {
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 20%;
  left:30%;
  height:250px;
  width:450px;
  background-color:#ebebfa;
  color:#000000;
  text-align:center;
  font-weight: bold;
  font-family:Verdana;
}

.ok-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 70%;
  left:10%;
  height:50px;
  width:250px;
  background-color:#45f542;
  color:#FFFFFF;
  text-align:center;
  font-weight: bold;
  font-family:Verdana;
}
.questions-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 80%;
  left:37%;
  height:50px;
  width:250px;
  background-color:#bfbc0b;
  color:#FFFFFF;
  text-align:center;
  font-weight: bold;
  font-family:Verdana;
}
.questions-button:hover {
    background-color: #f2ef55; 
    border-color: #bfbc0b;
}

.start-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 70%;
  left:37%;
  height:50px;
  width:250px;
  background-color:#45f542;
  color:#FFFFFF;
  text-align:center;
  font-weight: bold;
  font-family:Verdana;
}

.start-button:hover {
  background-color: #3ae031; 
  border-color: #2cbd2a; 
}

.revision-button{
border: 2px solid #ebebfa;
border-radius: 12px;
padding: 5px;
position: fixed;
top: 70%;
left:70%;
height:50px;
width:250px;
background-color:#ed7c72;
color:#FFFFFF;
text-align:center;
font-weight: bold;
font-family:Verdana;
}

.revision-button:hover {
    background-color: #ed1602; 
    border-color: #ed1604; 
}

.results-button{
border: 2px solid #ebebfa;
border-radius: 12px;
padding: 5px;
position: fixed;
top: 70%;
left:37%;
height:50px;
width:250px;
background-color:#bfbc0b;
color:#FFFFFF;
text-align:center;
font-weight: bold;
font-family:Verdana;
}

.results-button:hover {
    background-color: #f2ef55; 
    border-color: #bfbc0b;
}


.next-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 70%;
  left:37%;
  height:50px;
  width:250px;
  background-color:#45f542;
  color:#FFFFFF;
  text-align:center;
  font-weight: bold;
  font-family:Verdana;
}

.questions-answers {
    overflow: auto;
    width: 100%;
}

.questions-answers table {
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.questions-answers caption {
    caption-side: top;
    text-align: left;
}

.questions-answers th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
}

.questions-answers td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}
