p.flashcard {
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 20%;
  left:30%;
  height:250px;
  width:450px;
  background-color:#ebebfa;
  color:#000000;
  text-align:center;
  font-weight: bold;
  font-family:Verdana;
}

.ok-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 70%;
  left:10%;
  height:50px;
  width:250px;
  background-color:#45f542;
  color:#FFFFFF;
  text-align:center;
  font-weight: bold;
  font-family:Verdana;
}

.restart-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 70%;
  left:40%;
  height:50px;
  width:250px;
  background-color:#45f542;
  color:#FFFFFF;
  text-align:center;
  font-weight: bold;
  font-family:Verdana;
}

.ok-button:hover {
  background-color: #3ae031; /* Slightly darker green */
  border-color: #2cbd2a; /* Slightly darker border */
}

.revision-button{
border: 2px solid #ebebfa;
border-radius: 12px;
padding: 5px;
position: fixed;
top: 70%;
left:70%;
height:50px;
width:250px;
background-color:#f51f07;
color:#FFFFFF;
text-align:center;
font-weight: bold;
font-family:Verdana;
}


.next-button{
  border: 2px solid #ebebfa;
  border-radius: 12px;
  padding: 5px;
  position: fixed;
  top: 70%;
  left:40%;
  height:50px;
  width:250px;
  background-color:#45f542;
  color:#FFFFFF;
  text-align:center;
  font-weight: bold;
  font-family:Verdana;
}

.revision-button:hover {
  background-color: #d41b05; 
  border-color: #b41704; 
}
