<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
	<title>Flashcards Revision - Add Questions</title>

</head>
<body>
    <h3 align=center> Upload a .txt file with the questions and answers</h3>
    <form action="/uploadquestions" method="POST">
    <button type="submit" class="upload-questions-button">Upload Questions</button>
    </form>
    <br>
    <br>
    <h3 align=center>Alternatively you can add questions below</h3>
    <div class="questions-answers" role="region" tabindex="0">
        <form action="/submitaddquestions" method="POST">
            <table>
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="question1" /></td>
                        <td><input type="text" name="answer1" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question2" /></td>
                        <td><input type="text" name="answer2" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question3" /></td>
                        <td><input type="text" name="answer3" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question4" /></td>
                        <td><input type="text" name="answer4" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question5" /></td>
                        <td><input type="text" name="answer5" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question6" /></td>
                        <td><input type="text" name="answer6" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question7" /></td>
                        <td><input type="text" name="answer7" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question8" /></td>
                        <td><input type="text" name="answer8" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question9" /></td>
                        <td><input type="text" name="answer9" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question10" /></td>
                        <td><input type="text" name="answer10" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question11" /></td>
                        <td><input type="text" name="answer11" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question12" /></td>
                        <td><input type="text" name="answer12" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question13" /></td>
                        <td><input type="text" name="answer13" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question14" /></td>
                        <td><input type="text" name="answer14" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question15" /></td>
                        <td><input type="text" name="answer15" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question16" /></td>
                        <td><input type="text" name="answer16" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question17" /></td>
                        <td><input type="text" name="answer17" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question18" /></td>
                        <td><input type="text" name="answer18" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question19" /></td>
                        <td><input type="text" name="answer19" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="question20" /></td>
                        <td><input type="text" name="answer20" /></td>
                    </tr>

                </tbody>
            </table>
            <br>
            <br>
            <button type="submit" class ="submit-questions-button">Submit Questions</button>
        </form>
    </div>
</body>
</html>

